.Stats header{
    margin-top: 38px;
    text-align: center;
}
.Stats{
    width: 100%;
}
.Stats #user-statistics-container{
    width: 100%;
}
.Stats .stats-subcontainer{


}

.Stats #Awards-container{
    border:1px solid black;
    width: 100%;
}


.Stats #Awards-container .award-badges{
    border: 1px solid black;
    border-radius: 25%;
    height: 150px;
    width: 125px;
    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
  
.Stats .stats-subcontainer{
    width: 95%; 
    height: 100px;

}
}


@media screen and (min-width: 800px) {

    
.Stats .stats-subcontainer{
    width: 68%;
    height: 100px;

}
}