.AssistantContainer{

min-height: 75vh;
width: 100%;

/* background-color: white; */




}

.Assistant{
    width: 100%;
    justify-content: center;
  
    position: fixed;

    background-color: white;
    width: 61.8%;
    padding-top: 10px;
}

.Assistant .AssistantArm{
    height: 61.8px;

    margin: 5px;
    border-radius: 6px;
    transition: 0.11s all ease-in-out;
    color: white;
    text-shadow: 1px 1px #000000;
    font-weight: bolder;
    font-size: 20px;
}

.Assistant .AssistantArm:hover{
    /* transform: scale(1.05); */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


    
}

.Assistant .Lectio{
    background-color: gold;
}

.Assistant .Tabula{
    background-color: palegreen;
}

.Assistant .Exempli{
    background-color: darkblue;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* #assistant-click-container{
        width: 61.8%;
        box-sizing: border-box; 
        margin-top: 19.1px;
        
            
        }
   */.Assistant{
    top: 240px;
   width: 100%; 
   }

   .Assistant .AssistantArm{
    width:30%;
    
}


}


@media screen and (min-width: 800px) {
    /* #assistant-click-container{
        width: 61.8%;
        box-sizing: border-box; 
        margin-top: 19.1px;
        
            
        }
} */
.Assistant{
    top: 97px;
    left: 38.2; 
   }
.Assistant .AssistantArm{
    width: 19.1%;
}
  
} 