.Navigate{
    position: fixed;
    top: 0;
    height: 38px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 9;

    
}

.Navigate #go-back-button i{
    font-size: 19.1px;
}

.Navigate div img{
    height: 30px;
}

.Navigate #menu{
    position: fixed;
    z-index: 10;
    top: 38px;
    right: 0;
    background-color: white;
    border: 1px solid black;
    display: none;
    background-color: black;

    
}

.Navigate #menu ul{
    list-style-type: none;
    width: 100%;
    padding:10px;

}
.Navigate #menu li{
    color: white;
    padding: 15px;
    border: 1px solid white;
    margin-top: 10px;
    width: 100%;

}

.Navigate #menu li a{
    color: white;
    width: 100%;
}

#edu-menu{
background-color: skyblue;
padding: 5px;
padding-bottom: 10px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}