

.classroom-coverer{
    text-align: center;
}
.classroom-container{
    border-radius: 15px;
    border: 1px solid black;
    padding: 35px;
    background-color: rgba(184,231,254, 0.25);
    transition: 0.23s all ease-in-out;
    color: white;
    text-shadow: 1px 1px black;
  


}
.Classroom{

 
    margin-top: 10px;
    text-align: center;
    border-radius: 30px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    transition: 0.23s all ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size:95%;
    -moz-background-size:  95%;
    -o-background-size:  95%;
    background-size: 50%;




}
.classroom-container h3{
 




    
}

.classroom-container:hover{
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: rgba(255,255,255, 1);
    color: black;
    text-shadow: 0px 0px black;
  

  
}

.classroom-container:visited{
    color: white;
}

.Classroom a img{
    width: 50%;
    height: 50%;

}




@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .classroom-container{
        width: 75%;
    }
  .Classroom{
    width: 100%;    
     height: 200px;

  }
}


@media screen and (min-width: 800px) {

    .classroom-container{
        width: 15%;
        margin-top: 10px;
    }
 .Classroom{
     width: 100%;
     height: 150px;
 }
}
