.Topic{
    /* border: 1px solid black;
    margin-top: 10px;
    text-align: center;
    margin: 10px; */
}
#Topic-link{
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    
    transition: 0.12s all ease-in-out;
    background-color: rgba(15,130,176,0.8);
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    
}
#Topic-link:hover{
    transform:scale(1.03);
    background-color: rgba(15,130,176,1);
    border: 3px solid skyblue;

}




@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 
  #Topic-link{
      width: 95%;    

      height: 200px;

  }
}


@media screen and (min-width: 800px) {
 #Topic-link{
     width: 30%;
     height: 150px;
    
 }
}