
.ForumThread{
align-items: center;
}
.ForumThread a{
    color: white;
    background-color: seagreen;
    width: 250px;
    height: 100px;
    margin: 5px;
    transition: 0.05s all ease-in-out;
}

.ForumThread a:hover{
    /* transform: scale(1.02); */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
